In [ ]:
age=int(input("Age:"))

if (age<13):
    print("Child")
elif(age>=13 and age<=18):
    print("Teenager")
elif(age>=19 and age<=150):
    print("Adult")
else:
    print("Invalid Age")

Age:18
Teenager

In [ ]:
num1=float(input("Enter number 1: "))
num2=float(input("Enter number 2: "))
op=input('Enter the operation : +, -, /, %')
if (op == '+'):
  print(num1+num2)
elif (op =='-'):
  print(num1-num2)
elif (op=='%'):
  print(num1%num2)
elif (op=='/'):
  if num2==0:
    print('Divide by Zero is Infinity')
  else:
    print(num1/num2)

Enter number 1: 12.3
Enter number 2: 23.2
Enter the operation : +, -, /, %/
0.5301724137931035

In [ ]:
username='ganesh'
password='pass'

username1=input("Enter Username Login")
password1=input("Enter Password Login")

if(username1==username and password1==password):
  print('login successfull')
elif(username1==username and password1!=password):
  print('username is correct , password is wrong')
elif(username1!=username and password1==password):
  print('username is incorrect , password is correct')
else:
  print('trya again')

Enter Username Loginganesh
Enter Password Loginpass
login successfull

In [ ]:
rating=float(input('Enter rating '))
salary=float(input('Enter salary '))
y=int(input('Enter experience '))
bonusper=0

if(rating>=4.5):
  if(y>10):
    bonusper=20
  elif(y>5):
    bonusper=10
  else:
    bonusper=5
elif(rating>=3.5):
  if(y>10):
    bonusper=10
  elif(y>5):
    bonusper=5
  else:
    bonusper=1
else:
  bonusper=0

bonusamount=bonusper*salary/100
print('Bonus amount : ',bonusamount)

Enter rating5
Enter salary5000
Enter experience12
1000.0

In [ ]:
for i in range(11,1,-1):
  print('* '*i)

* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *

In [ ]:
for i in range(11,1,-1):
  if(i%2==0):
    print('* '*10)
  else:
    print('')

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [ ]:
num=int(input('Enter number'))
sum=0;

for i in range(0,num):
  print(i)
  sum=sum+i

print(sum)

Enter number5
0
1
2
3
4
10

In [ ]:
for i in range(7):
  for j in range(7):
    for k in range(7):
      print(i,j,k)
    print('----------')

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 0 5
0 0 6
----------
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 1 5
0 1 6
----------
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 2 5
0 2 6
----------
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 3 5
0 3 6
----------
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
0 4 5
0 4 6
----------
0 5 0
0 5 1
0 5 2
0 5 3
0 5 4
0 5 5
0 5 6
----------
0 6 0
0 6 1
0 6 2
0 6 3
0 6 4
0 6 5
0 6 6
----------
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 0 5
1 0 6
----------
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
----------
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
----------
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
----------
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
----------
1 5 0
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
----------
1 6 0
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
----------
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 0 5
2 0 6
----------
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
----------
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
----------
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
----------
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
----------
2 5 0
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
----------
2 6 0
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
----------
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 0 5
3 0 6
----------
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
----------
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
----------
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
----------
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
----------
3 5 0
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
----------
3 6 0
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
----------
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 0 5
4 0 6
----------
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
----------
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
----------
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
----------
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
----------
4 5 0
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
----------
4 6 0
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
----------
5 0 0
5 0 1
5 0 2
5 0 3
5 0 4
5 0 5
5 0 6
----------
5 1 0
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
----------
5 2 0
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
----------
5 3 0
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
----------
5 4 0
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
----------
5 5 0
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
----------
5 6 0
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
----------
6 0 0
6 0 1
6 0 2
6 0 3
6 0 4
6 0 5
6 0 6
----------
6 1 0
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
----------
6 2 0
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
----------
6 3 0
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
----------
6 4 0
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
----------
6 5 0
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
----------
6 6 0
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
----------

#Data Structure

In [ ]:
# user 1
# list

user_1=['Harsh' , 50 , 60 , 70 , True]

In [ ]:
isfound = False

for i in user_1:
  if(i=='Harsh'):
    isfound=True

if isfound==True:
  print('Harsh Found')
else:
  print('Not Found')

Harsh Found

In [1]:
lst1=[10,22,30,33,44,53,66]
lst2=[]

for i in lst1:
  if(i%2==0):
    lst2.append(i)
print(lst2)

[10, 22, 30, 44, 66]

In [ ]:
lst1=[10,22,30,33,44,53,66]
lst2=[]
#[i for i in range() if ]

In [ ]:
fruits=['Banana','Mango','Apple','Kiwi','Gauva']

In [4]:
dic={}
dic={ 101:'Harsh',
      102:'Nitin',
      'subjects':['Maths','Physics','Python'],
      'Marks':{'Maths':45,'Science':67}
      }
print(dic)

{101: 'Harsh', 102: 'Nitin', 'subjects': ['Maths', 'Physics', 'Python'], 'Marks': {'Maths': 45, 'Science': 67}}

In [5]:
dic.keys()

dict_keys([101, 102, 'subjects', 'Marks'])

In [6]:
dic.items()

dict_items([(101, 'Harsh'), (102, 'Nitin'), ('subjects', ['Maths', 'Physics', 'Python']), ('Marks', {'Maths': 45, 'Science': 67})])

In [7]:
dic.values()

dict_values(['Harsh', 'Nitin', ['Maths', 'Physics', 'Python'], {'Maths': 45, 'Science': 67}])

In [9]:
dic_copy=dic
dic_copy2=dic.copy()
print(dic_copy)
print(dic_copy2)

{101: 'Harsh', 102: 'Nitin', 'subjects': ['Maths', 'Physics', 'Python'], 'Marks': {'Maths': 45, 'Science': 67}}
{101: 'Harsh', 102: 'Nitin', 'subjects': ['Maths', 'Physics', 'Python'], 'Marks': {'Maths': 45, 'Science': 67}}